<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <!--配置项,配置控制台输出-->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d - %msg%n
            </pattern>
        </layout>
    </appender>
    <!--配置文件输出-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
        <!--滚动策略，每天一个日志文件-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>/var/log/ilearn/info.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name="com.neuedu.dao" level="DEBUG" />

    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>/var/log/ilearn/error.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>


    <!--bigdata log -->







    <appender name="orderLog" class="ch.qos.logback.core.rolling.RollingFileAppender">


        <!-- 过滤器，只记录INFO级别的日志 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <encoder
                class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <!-- 日志输出编码 -->
            <layout class="ch.qos.logback.classic.PatternLayout">
                <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
                <pattern> %msg%n
                </pattern>
            </layout>
        </encoder>



        <!--滚动策略，每天一个日志文件-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash;路径 /neuedu/bigdatalog  /Users/guoyang/Desktop&ndash;&gt;-->
            <!--<fileNamePattern>/neuedu/bigdatalog/bigdatalog/order.%d.log</fileNamePattern>-->
            <!--&lt;!&ndash; 日志最大的历史 10天 &ndash;&gt;-->
            <!--<maxHistory>10</maxHistory>-->
        <!--</rollingPolicy>-->


        <File>order.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy" >
            <FileNamePattern>/neuedu/bigdatalog/bigdatalog/order.%i.log.zip</FileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>200MB</maxFileSize>
        </triggeringPolicy>

    </appender>



    <!--additivity="false" -->
    <logger name="com.neuedu.service.impl.OrderServiceImpl"
            level="info">
        <appender-ref ref="orderLog"/>
    </logger>

    <!--bigdata log end-->


    <!--root-整个项目都适用-->
    <root name="com.neuedu.controller.portal.UserController" level="info">
        <appender-ref ref="consoleLog" />
        <appender-ref ref="fileInfoLog" />
        <appender-ref ref="fileErrorLog" />
    </root>




</configuration>